table{
    border-collapse: collapse;
}
td{
    border-bottom: 1px solid black;
    width: 150px;
    font-size: 13px;
    text-align: center;
}
th{
    border: 1px solid black;
    font-size: 13px;
    text-align: center;
    background-color: salmon;
    color: white;
}
tr:nth-child(even){
    background-color: green;
    color: white;
}
tr:nth-child(odd){
    background-color: yellow;
}
