ul{
    list-style-image: url(phone.png);
    list-style-position: inside;
}
a{
    font-size: larger;
    color: orange;
    text-decoration: none;
}
a:hover{
    background-color: orange;
    color: white
}

table{
    border-collapse: collapse;
}
th{
    background-color: orange;
    color: white;
    width: 300px;
    font-size: 26px;
    text-align: center;
}